
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  background-color: #0f172a;
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  position: sticky;        
  top: 0;
  z-index: 1000;
}



.navbar-logo {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.navbar-logo span {
  color: #38bdf8;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 24px;
}

.navbar-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #38bdf8;
}


.navbar-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-search {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 180px;
}

.register-btn,
.login-btn {
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.profile{
  cursor: pointer;
}
/* .register-btn {
  background-color: transparent;
  color: #38bdf8;
  border: 1px solid #38bdf8;
} */

.login-btn {
  background-color: transparent;
  color: #38bdf8;
  border: 1px solid #38bdf8;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}



@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #0f172a;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 24px 0;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-actions {
    display: none; 
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 16px 20px;
  }

  .navbar-links {
    gap: 16px;
  }

  .navbar-search {
    width: 140px;
  }
}

@media (min-width: 1024px) {
  .navbar-search {
    width: 200px;
  }
}
