.admin-layout {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .admin-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  

  .admin-content {
    flex: 1;
    padding: 20px;
    background-color: #020617;
    overflow-y: auto;
    color: white;
  }
  
  .sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 900;
  }
  

  @media (max-width: 768px) {
    .admin-layout {
      flex-direction: column;
    }
  
    .admin-main {
      width: 100%;
    }
  
    .admin-content {
      padding: 14px;
    }
  }
  